@page
@model GestionRecursosHumanos.Pages.Empleado.IndexModel
@{
    ViewData["Title"] = "Index Empleados";
}

<p>
    <a asp-page="Create" class="btn btn-success">Create New</a>
</p>

<h1> Index Empleados</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Empleados[0].NombreEmpleado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empleados[0].ApellidoEmpleado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empleados[0].EmailEmpleado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empleados[0].TelefonoEmpleado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empleados[0].FechaContratacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empleados[0].SalarioEmpleado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empleados[0].IdCargo_fk)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.Empleados)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreEmpleado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApellidoEmpleado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailEmpleado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TelefonoEmpleado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaContratacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SalarioEmpleado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdCargo_fk)
                </td>
                <td>
                    <a asp-page="./Delete" asp-route-id="@item.IdEmpleados" class="btn btn-danger">
                    Delete    
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
