@page
@model GestionRecursosHumanos.Pages.Beneficio.DeleteModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>
<h3>Are you sure you want to delete this?</h3>

<div>
    <h4>Beneficios</h4>
    <hr />
    <dl class="row">

         <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Beneficio.DescripcionBeneficio);
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Beneficio.DescripcionBeneficio);
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Beneficio.CostoEmpresa);
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Beneficio.CostoEmpresa);
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Beneficio.CostoEmpleado);
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Beneficio.CostoEmpleado);
        </dd>

    </dl>

    <form method="post">
        <input type="hidden" asp-for="Beneficio.IdBeneficio" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-page="./Index" class="btn btn-primary"> Back to List</a>
    </form>
</div>
