@page
@model GestionRecursosHumanos.Pages.Beneficio.IndexModel
@{
    ViewData["Title"] = "Index Beneficio";
}


<p>
    <a asp-page="Create" class="btn btn-success">Create New</a>
</p>

<h1> Index Beneficio</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Beneficio[0].DescripcionBeneficio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beneficio[0].CostoEmpresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beneficio[0].CostoEmpleado)
            </th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Beneficio)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DescripcionBeneficio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CostoEmpresa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CostoEmpleado)
                </td>

                <td>
                    <a asp-page="./Edit" asp-route-id="@item.IdBeneficio" class="btn btn-warning">
                        Edit
                    </a>
                </td>
                <td>
                    <a asp-page="./Delete" asp-route-id="@item.IdBeneficio" class="btn btn-danger">
                        Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
